<!DOCTYPE html>
 <html>
   <head>
     <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
   </head>
   <body>
     <h1>You are following  "<%= @post.title %>", you'll be notified of all comments. To not receive any further notifications, unfavorite <%= link_to "post", topic_post_url(@post.topic, @post) %>.</h1>
     <small>
       By: <%= @comment.user.name %>
     </small>
     <p>
       <%= @comment.body %>
     </p>
     <p>
 # #20
       <%= link_to "View Post on site", topic_post_url(@post.topic, @post) %>
     </p>
   </body>
 </html>
